{% extends "layouts/base.html" %}
{% block head %}
<style>
  .wrapper { max-width: 800px; margin: 0 auto; }
  h1 { text-align: center; }
</style>

<script>
$(function(){
    $("span.pie").peity("pie", {colours: ["#4d89f9", "#c6d9fd"]})
});
</script>
{% endblock %}

{% block body %}
<div class="wrapper">
  {{ navbar("home") }}

<h1>{{ current_user.organization.name }}</h1>
{{ flash() }}
<p>
  Welcome back to MarionSMS. Here you can get a quick overview of your company's activity. 
</p>

<p>
  Feel free to email or call me anytime with questions or suggestions for new features. <br><a href="mailto:isaac@getmarion.com">isaac@getmarion.com</a> or <a href="tel:+15024723603">(502) 472-3603</a>.
</p>
<br>

<div class="well">
  <p class="lead">Quick Stats for <b>{{ current_user.organization.name }}</b></p>
  <span>Messages scheduled: <b>{{ current_user.organization.scheduled_messages.count() }}</b></span>
  <br>
  <span>Responses received: <b>{{ current_user.organization.responses.count() }}</b></span>
  <br>
  <span>Organization users: <b>{{ current_user.organization.users.count() }}</b></span>
</div>

</div>

{% endblock %}
