{% macro scheduled_question(scheduled_message) -%}
<td>
  <abbr title="{{ scheduled_message.message.text }}">{{ scheduled_message.message.name }}</a>
</td>
<td>
  {% set p = r()%}
  <span class="pie">{{ p }}, {{ 1 - p }}</span>
</td>
<td>{{ scheduled_message.schedule_as_string }}</td>
<td class="actions">
  <form class="inline-form" 
        action="/schedule?__METHOD__=DELETE&scheduled_message_id={{scheduled_message.id}}" 
        method="POST">
    <button class="btn btn-danger btn-xs">Delete</button>
  </form>
</td>
{%- endmacro %}

{% extends "layouts/base.html" %}
{% block head %}
<style>
  h1 { text-align: center; }
  .actions { opacity: 0.3; }
  tr:hover .actions { opacity: 1; }
</style>

<script>
$(function(){
    $("span.pie").peity("pie", {colours: ["#4d89f9", "#c6d9fd"]})
});
</script>
{% endblock %}

{% block body %}
<div class="wrapper">
  {{ navbar('schedule') }}  
  {{ flash() }}
  <table class="table">
    <thead>
      <tr>
        <th>Phone Number</th>
        <th>Question</th>
        <th><abbr title="Response Rate">RR</abbrev></th>
        <th>Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for phone_number in schedule %}
        {% set scheduled_messages = schedule[phone_number] %}
      <tr>
        <td rowspan={{ scheduled_messages | length}}>
          <a href="tel:+1{{phone_number}}">{{ phone_number }}</a>
        </td>
        {{ scheduled_question(scheduled_messages[0]) }}        
      </tr>
        {% for sm in scheduled_messages[1:] %}
      <tr>
          {{ scheduled_question(sm) }}
      </tr>      
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

  <hr/>
  
  <form action="/schedule" method="POST">
    <legend>Add to the Schedule</legend>
    <!-- <div class="form-group"> -->
    <!--   <input type="file" name="schedule-file"> -->
    <!--   <p class="help-block">Upload a <abbr title="comma-separated values">CSV</abbr> file in the <a href="/help#csv-fmt">proper format</a>. Or, enter a new record below:</p> -->
    <!-- </div> -->
    <div class="form-group">
      <input type="text" name="phone-number" placeholder="Phone Number">
      <input type="text" name="message-id" placeholder="Message/Question ID">
      <select name="frequency">
        <option value="daily">Daily</option>
        {% for dow in DAYS_OF_WEEK %}
        <option value="{{ dow }}">{{ dow | capitalize }}</option>
        {% endfor %}
      </select>
      at 
      <input type="time" name="time" placeholder="Scheduled Time">
      <p class="help-block">Be sure to enter the time in the <a href="/help#time-fmt">proper format</a>.</p>
    </div>
    <button class="btn btn-info">Add to Schedule</button>
  </form>
</div>
{% endblock %}
